@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap');

// Primary
$Orange: #ff7d1a;
$paleOrange: #ffede0;
// Neutral
$varkBlue: #1d2025;
$darkGrayishBlue: #68707d;
$mediumGrayishBlue: #b6bcc8;
$lightGrayishBlue: #f7f8fd;
$white: #fff;
$black: #000;
$black07 : rgba(0, 0, 0, 0.7);
// Font
$fontSize: 16px;
$fontFamily: 'Kumbh Sans', sans-serif;
// Screen Width
$mobileWidth: 500px;
$tabletWidth: 800px;
$desktopWidth: 1200px;
